<div class="__header">
  <div class="__app-title"> plutus </div>
</div>

<div class="__form form">
  <form>
    {{#if loginMode}}
    <div class="input input-secondary __input __input-email">
      <input type="email" placeholder="email" name="email" value="{{email}}"></input>
    </div>
    {{/if}}

    <div class="input input-secondary __input __input-password">
      <input type="{{#if loginMode}}password{{else}}number{{/if}}" placeholder="{{#if loginMode }} password {{else}} pin {{/if}}" name="password" value=""></input>
    </div>
  </form>

  <div class="button __button-login touchable"> go </div>
</div>

<div class="__footer">
  <div class="__about-container">
    <div class="__about"> ? </div>
  </div>

  {{#unless loginMode}}
  <div class="__logout-container">
    <div class="button __button-logout touchbale"> logout </div>
  </div>
  {{/unless}}
</div>
