<div class="__header">
  <div class="__app-title"> plutus </div>
</div>

<div class="__form form">
  <form>
    <div class="input input-secondary __input __input-email">
      <input type="email" placeholder="email" name="email" value="{{email}}"></input>
    </div>

    <div class="input input-secondary __input __input-password">
      <input type="password" placeholder="password" name="password" value="ivo"></input>
    </div>
  </form>

  <div class="button __button-login"> go </div>
</div>

<div class="__footer">
  <div class="__about"> ? </div>
</div>
