<div class="navigation">
  <div class="__left">
    <div class="__navigation-button __menu-button touchable" data-trigger="menu"></div>
    <div class="__navigation-button __back-button touchable" data-trigger="back"></div>
  </div>
  <div class="__center">
    <div class="__app-title"></div>
  </div>
  <div class="__right"></div>
</div>
<div class="screen"></div>
<div class="spinner" style="display: none"> <div class="__spinner"></div></div>
