.login {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $color-secondary;
  color: $color-primary;

  @include desktop {
    max-width: 600px;
    margin: auto;
  }

  .__header {
    flex: 1;
    display: flex;
  }

  .__form {
    height: 230px;
    padding: 0 30px;
  }

  .__input {
    margin-top: 10px;
  }

  .__button-login {
    display: block;
    margin-top: 40px;
    color: $color-secondary;
  }

  .__button-logout {
    @include active-bg(rgba(255, 255, 255, 0.2));
    background-color: transparent;
    color: $color-primary;
  }

  .__footer {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  .__app-title {
    margin: auto;
    font-size: 42px;
    font-weight: 200;
  }

  .__about-container,
  .__logout-container {
    flex: 1;
    align-self: center;
    display: flex;
  }

  .__about {
    @include active-bg($hover-darker);
    margin: auto;
    font-size: 26px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-weight: bold;
  }
}
