$mobile: "(max-width: 768px)";
$desktop: "(min-width: 769px)";
$small-height: "(max-height: 428px)";
$too-small-height: "(max-height: 370px)";
$retina: "(-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 2dppx)";

$color-primary: #EAEAEA;
$color-secondary: #EE2C42;
$color-third: #4A90E2;
$color-primary-light: #F9F9F9;
$color-secondary-light: lighten($color-secondary, 30%);
$color-third-light: lighten($color-third, 30%);

$hover-darker: rgba(0,0,0,0.1);
$menu-width: 200px;
$title-bar-height: 55px;

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url('../fonts/opensans-light.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url('../fonts/opensans.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url('../fonts/opensans-semibold.woff') format('woff');
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spinner-scaleout {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
