<div class="__name"> {{ name }} </div>
<div class="__balance money">
  <span class="value"> {{ balance }} </span>
  <span class="currency"> Kn </span>
</div>
<div class="__button-delete touchable"></div>
