<div class="__categories">
  <div class="__expenses-container __container">
    <div class="__title"> expenses </div>
    <div class="__expenses"></div>
  </div>
  <div class="__incomes-container __container">
    <div class="__title"> incomes </div>
    <div class="__incomes"></div>
  </div>
</div>
<div class="__actions">
  <div class="__add-category-button button touchable"> add category </div>
</div>
