<div class="__account-overviews"></div>

<div class="__bottom-blocks">
  <div class="__bottom-block">
    <div class="__add-expense-button __add-transaction-button __bottom-block-content touchable"> </div>
  </div>
  <div class="__bottom-block">
    <div class="__total-balance __bottom-block-content">
      <div class="__balance money"> {{{money balance }}} </div>
    </div>
  </div>
  <div class="__bottom-block">
    <div class="__add-income-button __add-transaction-button __bottom-block-content touchable"> </div>
  </div>
</div>
