<div class="__section collapsed">
  <div class="__section-title"> savings mode </div>

  <div class="__row __row--blockifyed">
    <div class="select" data-color="red">
      <select>
        <option value="save"> I wanna save </option>
        <option value="spend"> I wanna spend </option>
      </select>
    </div>
    <div class="input" data-color="red">
      <input type="number" value="10"/>
    </div>
    <div class="select" data-color="red">
      <select>
        <option value="month">a month </option>
        <option value="week">a week </option>
        <option value="day">a day </option>
      </select>
    </div>
  </div>

{{!--   <div class="__row">
    <div class="label"> mode </div>
    <div class="__mode-select select" data-color="red" data-underlay-class="settings-select-underlay">
      <select>
        <option value="none"> none </option>
        <option value="allowed-spenditure"> monthly spendings </option>
        <option value="desired-saving"> montly savings </option>
      </select>
    </div>
  </div> --}}
{{!--
  <div class="__row">
    <div class="label"> monthly amount </div>
    <div class="input">
      <input type="number" value="{{ savingsAmount }}" data-property="savingsAmount"/>
    </div>
  </div>
</div>
 --}}
<div class="__section">
  <div class="__section-title"> app </div>

  <div class="__row">
    <div class="label"> currency </div>
    <div class="input">
      <input type="text" placeholder="Currency" value="{{ currency }}" data-property="currency"/>
    </div>
  </div>

  <div class="__row">
    <div class="label"> pin protection </div>
    <div class="checkbox __pin-checkbox">
      <input type="checkbox" {{#if isPinEnabled }} checked="checked" {{/if}}/>
    </div>
  </div>
</div>
