<div class="__title"> {{ message }} </div>
<div class="__buttons buttons">
  <div class="__button __button-no button touchable" data-event="no"> No </div>
  <div class="__button __button-yes button touchable" data-event="yes"> Yes </div>
</div>
