.home {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $color-primary;
  color: $color-secondary;

  [data-route="home-check-pin"] & {
    background-color: $color-secondary;
  }

  .__menu-container {
    @include stretch(0, auto, 0, 0);
    width: $menu-width;
    border-right: 20px solid transparent;
    z-index: 10;
    transform: translate3d(-$menu-width, 0, 0);

    @include desktop {
      transform: translate3d(0, 0, 0);
    }

    &.opened {
      transform: translate3d(0, 0, 0);
    }

    &.left-transition {
      transition: transform 300ms ease-out;
    }
  }

  .__menu-underlay {
    @include stretch(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
    z-index: 9;

    &.shown {
      display: block;
    }

    &.has-transition {
      transition: opacity 300ms;
    }
  }

  .__page-container {
    transition: opacity 150ms;
    opacity: 1;

    &.hiding {
      opacity: 0;
    }

    >div {
      @include desktop {
        @include stretch(0, 0, 0, 0);
        max-width: 600px;
        margin: auto;
      }

      @media (min-width: 769px) and (max-width: 1200px) {
        left: 200px;
      }
    }
  }

  .__header {
    margin-top: 50px;
    flex: 1;
    display: flex;
  }

  .__footer {
    flex: 1;
    display: flex;
  }

  .__about {
    margin: auto;
    font-size: 26px;
    font-weight: 200;
  }
}
